/* Final Project - Swarm Geo
	Fill the rest out later

*/

body {
	margin: 0;
}
.container {
	width: 100%;
	height: auto;
	top: 0;
	text-align: center;
}
.ribbon {
	width: 100%
	top: 0;
}
.menu {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
}
a {
	float: left;
}
.menu a {
	display: block;
	color: #6C6C6C;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Prompt', sans-serif;
	letter-spacing: 2.5px;
	font-size: 20px;
}
.menu a.active {
    background-color: #D7D700;
    color: #585858;
    max-height: 5%;
}
.menu a:hover {
  background-color: #ddd;
}
#logo-img {
	margin: auto;
	display: block;
	height: 100px;
	float: right;
    right: 25px;
    position: absolute;
}
.intro-area {
	position: relative;
	overflow: hidden;
	font-size: 120px;
    width: 100%;
	background-color: #46494f;
	font-family: 'Unica One', cursive;
    text-align: center;
    color: white;	
}
h2 {
	position: absolute;
	width: 100%;
}
#top-img {
	width: 60%;
	opacity: .40;
	z-index: -1;
}
#tagline {
	font-size: 30px;
	font-family: 'Prompt', sans-serif;
}
#subtag {
	font-size: 18px;
	font-family: 'Prompt', sans-serif;
}
.section {
	width: 100%;
	overflow: hidden;
	height: 70px;
	background-color: #D7D700;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	color: #6C6C6C;
	position: relative;
}
h1 {
	text-align: center;
}
.industries {
    width:100%;
    height:200px;
    position: absolute;
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: 'Unica One', cursive;
	font-size: 20px;
	letter-spacing: 2px;
}
#Mining, #Agri, #Aerial {
	max-height: 300px;
	border-radius: 50%;
	z-index: 30;
}
.label {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	border-radius: 50%;
	max-height: 300px;
	text-align: center;
	line-height: 300px;
	padding: 15px;
}
.label:hover {
	opacity: .5;
}
.label h3 {
	color: white;
	display: inline-table;
    vertical-align: middle;
    line-height: 100%;            
}



* {
    box-sizing: border-box;
   }
.ind-type {
	cursor: pointer;
	position: relative;
	display: block;
    float: left;
    width: 33.33%;
    padding: 15px;
}

/* Clear floats after the columns */
.industries:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:600px) {
    .ind-type {
        width: 100%;
}
.buttonTop {
	width: 10px;
	height: 10px;
}
#topbut {
    display: none; /* Hidden by default */
    position: sticky; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #F5F514;
    color: #6C6C6C; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px;
    font-family: 'Permanent Marker', cursive;
    font-size: 16px;
}
#topbut:hover {
	background-color: #555;
}


.footer {
	text-align: center;
}

/* Fonts */

/*

font-family: 'Lobster', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Prompt', sans-serif;
font-family: 'Unica One, cursive;

*/
